{% extends 'layout.html' %}

{% block sub_header %}


<div class="row mb-2">


{% endblock %}
{% block content %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">
    Pagina Inicial
</h3>

{% for post in posts %}

<article class="blog-post">
    <h2 class="blog-post-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
    <p class="blog-post-meta">{{ post.date_create }}<a href="/post{{ post.id }}"> {{ post.author }}</a></p>
    {{ post.resume|safe }}
</article>
{% endfor %}
{% endblock %}